.brand-logo{
    width: 40.42px;
    height: 51px;
    }
.color{
    color: #ffffff;;
    padding-top: 10px;
}
.margin{
    margin-left: 13%;
    display: flex;
}
.padding{
    margin-left: 55%;
}
.active{
    margin-top: 10px;
}
.navbar{
    height: 70px;
}

.player img{
    height: 56px;
    width: 56px;
    margin-top: 20px;
    }

.player p{
   margin: 20px 0 0 10px;
    display: inline-block;
}

.header-tag{
    margin: 20px;
    position: relative;
    display: inline-block;
    
    }
    h2{
        color: royalblue;
    }
    .row{
        margin-left: 10px;
    }

body{
    background-color: #E5E5E5;;
}
.main{
    width: 70%;
    margin-top: 30px;
    border-radius: 5px;
    
   
    
}
hr{
    
    border: 1px solid #D1D1D1;
    
    margin-top: 40px;
    }
    .blog{
        margin: 20px 15px 10px 5px;
    }
.latest-course{
   
    width: 70%;
    border-radius: 5px;
    margin: 20px 0 0 25%;
  
}
footer p{
    text-align: center;
    margin-top: 40px;
}
.grid{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    
}
    .card-img{
        margin-top: 20px;
    }
.mb-3{
    border: 0;
}
.card-text{
    color: #9F9F9F;
    
}
span{
    color: #562EFF;
}
.latest-course .card-title{
    
    position: relative;
    right: 20px;
    
}
.latest-course .card{
    border: 0;
}
.latest-course .blog{
    display: grid;
    grid-template-columns: repeat(auto-fit,18rem);
    justify-content: center;
}
